* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'IBM Plex Sans', 'Arial', sans-serif;
  font-size: 1.2rem;
}
body {
  margin: 0 10% 20% 10%;
}

nav {
  display: flex;
}
nav a {
  font-size: 1rem;
  margin: 5px 20px 5px 0;
}
nav .current_page {
  font-weight: bold;
}

.greeting {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center; /* center vertically */
}
.greeting p {
  font-size: 1.25rem;
}
.greeting img {
  width: 30%;
  margin-left: 5%;
}

h2 {
  margin: 2em 0 1rem 0;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: normal;
  font-size: 3rem;
  overflow-wrap: break-word;
}
h3 {
  margin: 2em 0 1rem 0;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: normal;
  font-size: 1.5rem;
  text-transform: uppercase;
}
h4 {
  margin: 2em 0 1rem 0;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: normal;
  font-size: 1.1rem;
}
p {
  margin: 0 0 1em 0;
  font-size: 1rem;
}
li {
  font-size: 1rem;
  margin-left: 2em;
}
a {
  color: #4a86e8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
pre {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.9rem;
  background-color: #efefefef;
  padding: 1em 1em 1em 1em;
  margin-bottom: 1em
}
.embed {
  width: 560px;
  height: 315px;
  margin: 0 0 1em 0;
}

/* The dates on blog posts */
.date {
  font-size: 0.8rem;
  color: #888;
  margin-top: 0;
  margin-bottom: 1em;
}

/* Tablet portrait and smaller */
@media (max-device-width: 900px) {

  body {
    margin-top: 10%;
  }

  nav a {
    font-size: 2rem;
  }

  .greeting {
    /* One column centered horizontally */
    flex-direction: column-reverse;
    justify-content: center;

    /* Don't force viewport height */
    height: auto;
  }
  .greeting img {
    width: 40%;
    margin-bottom: 3rem;
  }
  .greeting p {
    text-align: center;
  }

  .embed {
      width: 80vw; /* Use vw so I can get correct aspect ratio. */
      height: 45vw;
  }
}